* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.inicio {
  background-image: url(../img/sub-57recortada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-reservas {
  background-image: url(../img/DSC_5083.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nosotros {
  background-image: url(../img/DSC_7807.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background: rgba(39, 39, 39, 0.3);
  backdrop-filter: blur(10px);
  top: 0;
  padding: 10px 0px;
  /*box-shadow: 0 8px 35px 0 rgba(177, 177, 177, 0.3);*/
  position: sticky;
  top: 0;
  z-index: 1;
}
header .navbar-brand {
  color: aliceblue;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  margin: 0 !important;
}
header .navbar-brand:hover {
  color: aliceblue;
  letter-spacing: 3px !important;
}
header .navbar-toggler {
  border: none !important;
  color: aliceblue !important;
}
header .nav-item .nav-link {
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
header .nav-item .nav-link:hover {
  letter-spacing: 3px;
}
header .nav-item .active {
  color: bisque !important;
  font-weight: bold;
}

.principal-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 150px 0;
}
.principal-sub .img-sub {
  width: 350px;
}
.principal-sub .titulos-sub {
  text-align: center;
  margin: 90px 0px;
  color: aliceblue;
}
.principal-sub .titulos-sub .titulo-sub {
  margin-bottom: 80px;
  font-family: "Cinzel", serif;
  font-weight: bold;
}
.principal-sub .titulos-sub .titulo-sub1 {
  font-family: "Caveat", cursive;
}

.reservas {
  margin: 90px 15px;
}
.reservas .combos .title-combos {
  color: aliceblue;
  letter-spacing: 1px;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 54px;
}
.reservas .combos .item-combo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8vh 0;
}
.reservas .combos .item-combo .item-descripcion {
  width: 21rem;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
}
.reservas .combos .item-combo .item-descripcion .combo-name {
  text-transform: uppercase;
  color: aliceblue;
  letter-spacing: 1px;
  font-size: 38px;
}
.reservas .combos .item-combo .item-descripcion .combo-descripcion {
  font-size: 22px;
  color: aliceblue;
}
.reservas .combos .item-combo .item-descripcion .btn-combo {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid aliceblue;
  border-radius: 10px;
  padding: 10px 0px;
  background-color: aliceblue;
  color: rgb(14, 14, 14);
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
}
.reservas .combos .item-combo .item-descripcion .btn-combo:hover {
  background: transparent;
  color: aliceblue;
}
.reservas .combos .item-combo .combo-img {
  width: 20rem;
}
.reservas .transporte {
  margin: 90px 0;
}
.reservas .transporte .title-transporte {
  color: aliceblue;
  letter-spacing: 1px;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 3.5rem;
}
.reservas .transporte .text-transporte {
  color: aliceblue;
  font-size: 1.7rem;
}
.reservas .evento {
  margin: 90px 0;
}
.reservas .evento .title-evento {
  color: aliceblue;
  letter-spacing: 1px;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 3.5rem;
}
.reservas .evento .text-evento {
  color: aliceblue;
  font-size: 1.7rem;
}
.reservas .btn-consultar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservas .btn-consultar .btn-consultar-wsp {
  padding: 20px 35px;
  border: 1px solid aliceblue;
  border-radius: 20px;
  color: rgb(14, 14, 14);
  text-decoration: none;
  background-color: aliceblue;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}
.reservas .btn-consultar .btn-consultar-wsp:hover {
  color: aliceblue;
  cursor: pointer;
  background: transparent;
}

.principal-nosotros {
  margin: 100px 0;
}
.principal-nosotros .title-nos-ubic {
  margin: 80px 0;
  text-transform: uppercase;
  text-align: center;
  color: aliceblue;
}
.principal-nosotros .title-nos {
  margin: 80px 0;
  text-transform: uppercase;
  text-align: center;
  color: aliceblue;
}
.principal-nosotros .text-nos {
  color: aliceblue;
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(17, 17, 17);
  padding: 60px 130px;
}
.principal-nosotros .map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.pie-pagina {
  background-color: rgb(24, 24, 24);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pie-pagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  color: aliceblue;
}
.pie-pagina .grupo1 .marca-nombre {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}
.pie-pagina .grupo1 .marca-nombre .logo-sub-footer {
  width: 100px;
}
.pie-pagina .grupo1 .social-media {
  margin-top: 20px;
}
.pie-pagina .grupo1 .social-media svg {
  text-decoration: none;
  margin-right: 18px;
  transition: all 0.3s ease;
}
.pie-pagina .grupo1 .social-media svg:hover {
  transform: scale(1.2);
}
.pie-pagina .grupo1 .titulo-redes {
  text-transform: capitalize;
  letter-spacing: 2px;
}
.pie-pagina .grupo1 .marcas-footer {
  margin-top: 20px;
}
.pie-pagina .grupo1 .marcas-footer .titulo-marcas {
  text-transform: capitalize;
  letter-spacing: 2px;
}
.pie-pagina .grupo1 .marcas-footer .marcas {
  text-transform: capitalize;
}
.pie-pagina .grupo1 .titulo-contacto {
  text-transform: capitalize;
  letter-spacing: 2px;
}
.pie-pagina .grupo1 .contacto-footer {
  margin-top: 20px;
}
.pie-pagina .grupo1 .contacto-footer a {
  text-decoration: none;
  margin-right: 18px;
}
.pie-pagina .grupo1 .contacto-footer svg {
  transition: all 0.3s ease;
  text-decoration: none;
}
.pie-pagina .grupo1 .contacto-footer svg:hover {
  transform: scale(1.2);
}
.pie-pagina .grupo1 h4,
.pie-pagina .grupo1 h5,
.pie-pagina .grupo1 h6 {
  font-size: 1.3rem;
}
.pie-pagina .texto-copy {
  margin-top: 50px;
  color: aliceblue;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .combo-img {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
