.title-nos,
.text-nos,
.title-nos2 {
  color: aliceblue;
}

.text-nos {
  background-color: rgb(17, 17, 17);
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
